* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #9146FF;
}

.twitch-embed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.twitch-video {
    flex: 3;
    position: relative;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
    height: 0;
}

.twitch-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.twitch-chat {
    flex: 1;
    height: 640px;
}

.twitch-chat iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
    .twitch-embed {
        flex-direction: column;
    }

    .twitch-video {
        padding-top: 56.25%;
    }

    .twitch-chat {
        height: 300px;
    }
}
